.main {

}

.main ul {
    display: flex;

}

.main ul li {
    list-style: none;
    position: relative;
}
.main ul li a{
    padding: 10px 30px ;
}
.main ul li::before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: red;
    position: absolute;
    top:0;
    bottom:0;
    margin: auto 0;

}

.main ul li:first-child::before{
    display: none;
}